* {
    box-sizing: border-box;
}

/* body {
    
} */

/* Header */
.header-buttons {
    display: flex;
    justify-content: flex-end;
}

.header-buttons div {
    margin: 1%;
}

/* Main */

/* Section contact */
.contact-content {
    position: absolute;
    margin: 3% auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: aquamarine;
    width: 50%;
    height: 65%;
}

.contact-content h3 {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* .contact-content p {
    text-align: left;
    padding-left: 23%;
    margin-top: 0%;
    margin-bottom: 0%;
} */

.contact-content input {
    padding: 10px 0;
    margin-bottom: 30px;
}

.contact-content textarea {
    height: 15%;
    padding: 10px 0;
    margin-bottom: 20px;
}

.contact-content input,
 .contact-content textarea {
    width: 60%;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
}

.contact-content button {
    width: 70px;
    height: 30px;
    cursor: pointer;
} 

.contact-content form div {
    position: relative
}

.contact-content form div label {
    position: absolute;
    top: 10px;
    left: 22%;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.contact-content input:focus ~ label,
 .contact-content textarea:focus ~ label,
 .contact-content input:valid ~ label,
 .contact-content textarea:valid ~ label {
     top: -20px;
 }

 .contact-content input:focus,
 .contact-content textarea:focus,
 .contact-content input:valid,
 .contact-content textarea:valid {
     border-bottom: 2px solid black;
 }


/* Footer */
footer {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    left: 0;
    right:0;
}

.footer-icons div {
    font-size: 20px;
    margin: 0.5%;
}