
/* Section resume */
#resumeContent {
    height: 80%;
    display: flex;
    flex-direction: row;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Myself information */
.myself-information {
    background-color: rgb(8,74,131);
    border-right: 2px solid black;
    color: white;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
    /* margin-top: 3%; */
    box-shadow: 5px 5px 10px rgb(128,130,133);
    border-radius: 2px;
}

.myself-information h2{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myself-information p:nth-child(3), .myself-information p:last-child {
    padding-left: 3%;
}


/* Resume information */
.resume-information {
    background-color: rgb(241,242,242);
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
    box-shadow: 5px 5px 10px rgb(147,149,152);
    border-radius: 2px;
    /* margin-top: 3%; */
}

.accordion-button {
    background-color: rgb(8,74,131);
    border-color: rgb(8,74,131);
    color: white;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


.card-body {
    background-color: rgb(241,242,242);
    color: black;
    border: none;
}

.card-body img {
    height: 80%;
    width: 4%;
}

.card-body span {
    float: right;
    font-style: italic;
}

/* Work history */
.pharmacy-history {
    padding-left: 5%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-right: 30%;
    /* font-size: 18px; */
}

/* education */
.education-info {
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 3%;
    font-size: 20px;
}

.education-info p:nth-child(2) {
    font-weight: bold;
}

.education-info p:nth-child(3), .education-info p:last-child  {
    padding-left: 6%;
}

/* skills */
.skills-part {
    display: flex;
    justify-content: space-around;
  }
  
.hard-skills {
      width: 40%;
  }
  
.soft-skills {
      width: 40%;
  }

.skills-part span {
    display: block;
    font-style: normal;
    float: none;
}

.skills-info span {
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skills-bar {
    margin: 20px 0;
}

.skills-bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: rgb(230,231,232);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.skills-bar .progress-line span {
    position: absolute;
    height: 100%;
    width: 80%;
    background: rgb(8,74,131);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line span::before {
    position: absolute;
    content: "";
    right: 0%;
    top:-10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
    position: absolute;
    content: "80%";
    right: 0%;
    top:-25px;
    color: #fff;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.HTML span {
    width: 90%;
}

.progress-line.CSS span {
    width: 80%;
}

.progress-line.JavaScript span {
    width: 60%;
}

.progress-line.React span {
    width: 25%;
}

.progress-line.HTML span::after {
    content: "90%";
}

.progress-line.CSS span::after {
    content: "80%";
}

.progress-line.JavaScript span::after {
    content: "60%";
}

.progress-line.React span::after {
    content: "25%";
}

.progress-line.detail span {
    width: 85%;
}

.progress-line.motivated span {
    width: 85%;
}

.progress-line.work span {
    width: 90%;
}

.progress-line.teamwork span {
    width: 85%;
}

.progress-line.detail span::after {
    content: "85%";
}

.progress-line.motivated span::after {
    content: "85%";
}

.progress-line.work span::after {
    content: "90%";
}

.progress-line.teamwork span::after {
    content: "85%";
}

/* languages */
.languages-bar {
    width: 50%;
    list-style: none;
    padding-left: 3%;
    padding-top: 2%;
    font-family: sans-serif;
}

.languages-bar li {
    margin: 20px 0;
}

.bar {
    background: rgb(198,229,243);
    display: block;
    height: 3px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar p {
    height: 3px;
    float: left;
    background: rgb(8,74,131);
}

.english {
    width: 75%;
    animation: english 2s;
}

.romanian {
    width: 100%;
    animation: romanian 2s;
}

@keyframes english {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes romanian {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media only screen and (max-width:1100px) and (orientation:portrait) {
    #resumeContent {
        display: block;
        width: 100%;
    }
    
    .resume-information {
        width: 100%;
    }

    .card-body  {
        font-size: 0.8rem;
    }

    .card-body span {
        font-size: 0.6rem;
    }

    .pharmacy-history {
        padding-right: 0%;
        font-size: 0.9rem;
    }

    .education-info {
        font-size: 0.9rem;
        padding-right: 0%;
    }

    .languages-bar h3 {
        font-size: 1rem;
    }

    /* #resumeContent {
        margin-bottom: 20%;
    } */
}

/* @media only screen and (min-width:700px) and (max-width: 1100px) and (orientation:portrait) {
    body {
        height: 100%;
    }
} */



@media only screen and (min-width:850px) and  (orientation:landscape) {
    .card-body {
        position: absolute;
        width: 100%;
        left: 0%;
    }

    .card-body span {
        font-size: 0.8rem;
    }

    .myself-information p:last-child {
        padding-bottom: 90%;
    }

    /* .myself-information {
        margin-left: 10%;
    } */

    .resume-information {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .resume-information .resume-item {
        flex-direction: row;
        margin: 2px;
    }

    .myself-information hr {
        margin-bottom: 16%;
    }

    /* #resumeContent {
        margin-bottom: 10%;
    } */
    
}
@media only screen and (min-width:1700px) and (max-width:1850px) and  (orientation:landscape) {
    #resumeContent {
        width: 70%;
    }
    .myself-information {
        width: 30%;
        font-size:1.2rem ;
    }
    .resume-information {
        width: 100%;
    }

    .card-body {
        font-size: 1.2rem;
    }

    .card-body span {
        font-size: 1rem;
    }

    .accordion-button {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width:1850px) and  (orientation:landscape) {
    #resumeContent {
        width: 70%;
    }
    .myself-information {
        width: 30%;
        font-size:1.4rem ;
    }
    .resume-information {
        width: 100%;
    }

    .card-body {
        font-size: 1.4rem;
    }

    .card-body span {
        font-size: 1.1rem;
    }

    .accordion-button {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1170px) and (max-width: 1300px) {
    /* .myself-information {
        margin-left: 4%;
    } */

    .card-body  {
        top: 15%;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1170px) and (orientation:landscape) {
    /* .myself-information {
        margin-left: 2%;
    } */

    .card-body  {
        top: 15%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) and (orientation:landscape){
    /* .myself-information {
        margin-left: 0%;
    } */

    .card-body  {
        top: 20%;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1000px) and (orientation:landscape){
    .myself-information {
        margin-left: 0%;
    }

    .myself-information p:last-child {
        padding-bottom: 150%;
    }

    .card-body  {
        top: 20%;
    }

}

@media only screen and (min-width:600px) and (max-width:900px) and (orientation:landscape) {
    .card-body  {
        font-size: 1rem;
    }

    .card-body span {
        font-size: 0.8rem;
    }

    .pharmacy-history {
        padding-right: 0%;
        font-size: 1rem;
    }

    .education-info {
        font-size: 0.9rem;
        padding-right: 0%;
    }

    .languages-bar h3 {
        font-size: 1rem;
    }

    .resume-information {
        width: 100%;
    }

    body {
        height: 100%;
    }
}