body {
    height: 100%;
}

.portfolio-content {
    position: relative;
    width: 70%;
    height: 80%;
    left:0;
    right: 0;
    margin: 5% auto;
    background-color: white;
}

#allProjects {
    width: 60%;
}

#workingImg {
    position: absolute;
    width:40%;
    height: 100%;
    right: 0%;
    top: 0%;
    opacity: 0.7;
}

.slider-container {
    position: absolute;
    width: 70%;
    height: 90%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: grey;
}

/* .carousel-control-next-icon {
    display: flex;
    align-items: center;
    justify-content: center;
} */
