body {
    height: 100%;
}
/* Section contact */
.contact-content {
    margin: 3% auto;
    left: 0;
    right: 0;
    text-align: center;
    border:2px solid rgb(8,74,131);
    background-color: white;
    padding-bottom: 1%;
}

.contact-content h3 {
    margin-top: 1%;
    margin-bottom: 1%;
}

#showMessage {
    color: red;
}

.contact-content input {
    padding: 10px 0;
    margin-bottom: 20px;
}

.contact-content textarea {
    padding: 10px 0;
    margin-bottom: 20px;
}

.contact-content input,
 .contact-content textarea {
    width: 60%;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
}

.contact-content button {
    width: 20%;
    height: 10%;
    cursor: pointer;
    background-color: rgb(8,74,131);
    color: white;
    border: none;
} 

.contact-content form div {
    position: relative
}

.contact-content form div label {
    position: absolute;
    top: 10px;
    left: 22%;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.contact-content input:focus ~ label,
 .contact-content textarea:focus ~ label,
 .contact-content input:valid ~ label,
 .contact-content textarea:valid ~ label {
     top: -20px;
     color: rgb(83,157,219);
 }

 .contact-content input:focus,
 .contact-content textarea:focus,
 .contact-content input:valid,
 .contact-content textarea:valid {
     border-bottom: 2px solid rgb(83,157,219);
     
 }

@media only screen and (min-width: 900px) {
    .contact-content {
        width: 40%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
    .contact-content {
        width: 60%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .contact-content {
        width: 90%;
        margin-top: 15%;
    }

    .contact-content input {
        padding: 7px 0;
        margin-bottom: 12px;
    }
    
    .contact-content textarea {
        padding:7px 0;
        margin-bottom: 12px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1150px) and (orientation: portrait) {
    .contact-content {
        width: 60%;
        margin-top: 30%;
    }

    .contact-content input {
        padding: 20px 0;
        margin-bottom: 30px;
    }
    
    .contact-content textarea {
        padding: 20px 0;
        margin-bottom: 30px;
    }
}